<div *ngIf="movies.length==0;">
    <h1>{{title}}</h1>
</div>
<div class="alert alert-warning" *ngIf="movies.length==0">
    <h1>Film bulunamadı</h1>
</div>
<div class="alert alert-warning" *ngIf="movies.length>0">
    <h1>{{movies.length}} tane film var.</h1>
</div>    

<div class="card mb-3" *ngFor="let item of movies">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/{{ item.imageUrl }}" class="img-fluid rounded start" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title">{{item.title}}</h2>
                <p class="card-text">{{item.description}}</p>
                <button class="btn btn-sm btn-outline-primary">Detay</button>
            </div>
        </div>    
    </div>
</div>
